<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../output.css">
</head>
<body class="tw:bg-ln-gray-25">
    {{> baseProveedor }}
    {{> aside }}
    <button class="tw:bg-blue-500 text-white px-4 py-2 rounded">
        asds
    </button>
    <div class="text-[9999px]">

    </div>
    <script src="../../../dist/preline.js"></script>
 
</body>
</html>